<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Intelligence - Corporate Category Bootstrap Responsive Website Template - Contact</title>

    <!-- google-fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;900&display=swap"
        rel="stylesheet">
    <!-- //google-fonts -->

    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="static/css/style-liberty.css">

</head>

<body>

<!-- top header -->
<!-- //top header -->

<!--header-->
<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
            <h1>
                <a class="navbar-brand" href="index.html">
                    <span class="fa fa-lightbulb"></span> 高山族
                </a>
            </h1>
            <!-- if logo is image enable this   
            <a class="navbar-brand" href="#index.html">
                <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
            </a> -->
            <button class="navbar-toggler  collapsed bg-gradient" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ms-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">信息概览 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Words%20Cloud.html">热门词云</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="timeline.html">时间趋势</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            主题分布<span class="fas fa-angle-down"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="topicc.html">主题分布</a>
                            <a class="dropdown-item" href="hot topicc.html">主题与热度</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           情感分布 <span class="fas fa-angle-down"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="emotion.html">情感分布</a>
                            <a class="dropdown-item" href="net.html">共现网络</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="text.html">热门信息</a>
                    </li>

                    <!--/search-right-->
                    <ul class="header-search">
                        <li class="nav-item search-right">
                            <a href="#search" class="btn search-btn btn-light" title="search"><span class="fas fa-search" aria-hidden="true"></span></a>
                            <!-- search popup -->
                            <div id="search" class="pop-overlay">
                                <div class="popup">
                                    <h3 class="title-w3l two mb-4 text-left">Search Here</h3>
                                    <form action="#" method="GET" class="search-box d-sm-flex position-relative">
                                        <input type="search" placeholder="Enter Keyword here" name="search" required="required" autofocus="">
                                        <button type="submit" class="btn btn-style btn-primary"> Search</button>
                                    </form>
                                </div>
                                <a class="close" href="#close">×</a>
                            </div>
                            <!-- /search popup -->
                        </li>
                    </ul>
                    <!--//search-right-->
                </ul>
            </div>
            <!-- search button -->

            <!-- //search button -->

            <!-- toggle switch for light and dark theme -->
            <div class="cont-ser-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>
<!--//header-->


<!-- //about banner -->
<section class="w3l-whychooseus py-5" >
 <table class="table table-responsive-md" >
     <thead>
    <tr style="text-align: center;">
      <th>排序</th>
      <th>博文内容</th>
      <th>发布账号</th>
      <th>发布时间</th>
      <th>评论数</th>
      <th>点赞数</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>历史冷知识：总舵主制造了“高山族”“十九年（注：指“永历十九年”，台湾郑氏使用永历纪年，即公元1665年）...</td>
      <td>蒜泥猪头</td>
      <td>2023-03-30</td>
      <td>64</td>
      <td>418</td>
    </tr>
    <tr>
      <td>2</td>
      <td>123年前古书上的台湾与赛德克巴莱创作者中心 是书购于南非，出版于光绪二十六年(1900年)...</td>
      <td>_雪山白凤凰_w</td>
      <td>2023-02-24</td>
      <td>2</td>
      <td>25</td>
    </tr>
    <tr>
      <td>3</td>
      <td>【华安高山族的“更”与“续”】我国是一个由多民族组成的国家，多种文化的交流融合促成中华文明蓬勃发展。...</td>
      <td>福建东南网</td>
      <td>2023-03-23</td>
      <td>70</td>
      <td>125</td>
    </tr>
    <tr>
      <td>4</td>
      <td>画得这么好，可惜他留下的作品不多温勇雄，给人印象深刻的连环画作品是《日出之前》...</td>
      <td>朔方平</td>
      <td>2023-02-21</td>
      <td>17</td>
      <td>15</td>
    </tr>
    <tr>
      <td>5</td>
      <td>我真的没想到，其实张大导演早在他第一部拍的《阿里山风云》里就已经是开始脱男演员了...</td>
      <td>神侯府铁戈云</td>
      <td>2023-03-01</td>
      <td>22</td>
      <td>62</td>
    </tr>
    <tr>
      <td>6</td>
      <td>台湾原住民 平埔族 ＆ 高山族 原住民穿耳习俗古代台湾各大族群有分：父系社会、母系社会（阿美、..</td>
      <td>美術系畢業賣壽司</td>
      <td>2023-02-26</td>
      <td>1</td>
      <td>5</td>
    </tr>
    <tr>
      <td>7</td>
      <td>在2009国庆60周年联欢晚会，作为热爱祖国的台湾艺人千百惠...</td>
      <td>当阿波罗遇到雅典娜</td>
      <td>2023-03-03</td>
      <td>9</td>
      <td>19</td>
    </tr>
    <tr>
      <td>8</td>
      <td>现在我听《杵歌》真的好感动，初中的陈萍老师给我们上的这节课，之前见习的时候再去找过她，她还在带民乐团。.</td>
      <td>在绿山墙</td>
      <td>2023-03-06</td>
      <td>1</td>
      <td>6</td>
    </tr>
    <tr>
      <td>9</td>
      <td>阳春三月，最是一年春好处。在世界文化遗产华安二宜楼前，一场别开生面的“非遗‘云’赠军营..</td>
      <td>小庄故人</td>
      <td>2023-02-28</td>
      <td>4</td>
      <td>9</td>
    </tr>
    <tr>
      <td>10</td>
      <td>#关注台海# 【新一届全国人大代表名单公布 台湾省代表13人】..</td>
      <td>布哈拉丝绸游台湾</td>
      <td>2023-03-06</td>
      <td>1</td>
      <td>1</td>
    </tr>
  </tbody>
     </table>

</section>
<!-- //about banner -->



<!-- contact -->
<section class="w3l-contacts-12">
    <div class="contact-top pt-5">
        <div class="container py-lg-4">
            <div class="d-grid cont-main-top mt-lg-5 mt-4">
                <!-- contact form -->
                <!-- //contact form -->
            </div>
        </div>
    </div>
</section>
<!-- //contact -->


<!-- footer block -->
<footer class="w3l-footer-29-main">
    <div class="footer-29 pt-5 pb-4">
        <div class="container pt-md-4">
            <!-- copyright -->
            <p class="copy-footer-29 text-center mt-5 pb-2">郭佳栋 22301174<a target="_blank" href="http://www.mobanwang.com/" title="网页模板">网页模板</a></p>
            <!-- //copyright -->
        </div>
    </div>
</footer>
<!-- //footer block -->




<!-- Js scripts -->
<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fas fa-level-up-alt" aria-hidden="true"></span>
</button>
<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
        } else {
            document.getElementById("movetop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<!-- //move top -->

<!-- common jquery plugin -->
<script src="static./js/jquery-3.3.1.min.js"></script>
<!-- //common jquery plugin -->

<!-- theme switch js (light and dark)-->
<script src="static/js/theme-change.js"></script>
<!-- //theme switch js (light and dark)-->

<!--/stats-number-counter-->
<script src="static/js/jquery.waypoints.min.js"></script>
<script src="static/js/jquery.countup.js"></script>
<script>
    $('.counter').countUp();

</script>
<!--//stats-number-counter-->

<!--/owlcarousel-->
<script src="static/js/owl.carousel.js"></script>
<!-- //tesimonials-->
<script>
    $(document).ready(function() {
        $("#owl-demo1").owlCarousel({
            loop: true,
            nav: false,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                736: {
                    items: 1,
                    nav: false
                }
            }
        })
    })

</script>
<!-- //tesimonials-->

<!-- MENU-JS -->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<!-- //MENU-JS -->

<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- //disable body scroll which navbar is in active -->

<!--bootstrap-->
<script src="static/js/bootstrap.min.js"></script>
<!-- //bootstrap-->
<!-- //Js scripts -->

</body>

</html>